// sass-lint:disable-all
* {
  outline: 0;
  -ms-content-zooming: none;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
strong,
sub,
sup,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a,
div,
i,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: inline-block;
}

ul {
  list-style: none;
}

footer,
header,
menu,
nav,
section {
  display: block;
}
