$primary: #ea4335;
$secondary: #303335;

$highcolor: #1f1f1f;
$fontcolor: #282828;
$lightsand: #999;
$deepsand: #666;
$lightblue: #00a0e5;
$bordercolor: #eff0f2;
$radius: 4px;
$boxshadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
